In [2]:
fruits = ["mango","banana","apple"]
fruits.append("orange")
print(fruits)

['mango', 'banana', 'apple', 'orange']

In [4]:
fruits = ["mango","apple"]
fruits.extend(["pineapple","kiwi"])
print(fruits)

['mango', 'apple', 'pineapple', 'kiwi']

In [12]:
names = ["sugan","pavi","logi"]
names.insert(0, "cthu")
names.insert(2, "priya")
print(names)

['cthu', 'sugan', 'priya', 'pavi', 'logi']

In [13]:
names = ["sugan","pavi","logi"]
names.remove("sugan")
print(names)

['pavi', 'logi']

In [14]:
fruits = ["mango","banana","apple"]
fruits.clear()
print(fruits)

[]

# Dictionary

In [15]:
mobiles = {"iphone", "oneplus", "redmi"}
mobiles.clear()
print(mobiles)

set()

In [16]:
names = {"sugan","pavi","logi"}
names.copy()
print(names)

{'sugan', 'pavi', 'logi'}

In [30]:
a = ("rank1", "rank2", "rank3")
b = 0, 1, 2

thisdict = dict.fromkeys(a, b)


print(thisdict)

{'rank1': (0, 1, 2), 'rank2': (0, 1, 2), 'rank3': (0, 1, 2)}

In [31]:
mobiles= {
  "name": "redmi",
  "model": 2010
  
}

x = mobiles.get("model")

print(x)

2010

In [32]:
fruits = {
  "name": "orange",
  "rate": 70,
}

x = fruits.items()

print(x)

dict_items([('name', 'orange'), ('rate', 70)])

# Sets

In [33]:
fruits = {"apple", "banana", "cherry"}

fruits.add("orange")

print(fruits)

{'cherry', 'apple', 'orange', 'banana'}

In [34]:
fruits = {"apple", "banana", "cherry"}

fruits.clear()

print(fruits)

set()

In [35]:
fruits = {"apple", "banana", "cherry"}

fruits = fruits.copy()

print(fruits)

{'cherry', 'apple', 'banana'}

In [36]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.difference(y) 

print(z)

{'cherry', 'banana'}

In [37]:
fruits = {"apple", "banana", "cherry"}
company = {"google", "microsoft", "apple"}

fruits.difference_update(company) 

print(fruits)

{'cherry', 'banana'}

# Tuple

In [38]:
numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

num = numbers.count(5)

print(num)

2

In [39]:
numbers = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)

num = numbers.index(3)

print(num)

1

In [40]:
fruits = ("apple", "banana", "cherry")
print(fruits[1])

banana

In [41]:
fruits = ("apple", "banana", "cherry")
print(fruits[-1])

cherry

In [42]:
fruits = ("apple", "banana", "cherry", "orange", "kiwi", "melon")
print(fruits[2:5])

('cherry', 'orange', 'kiwi')

# Strings

In [44]:
txt = "hello, and welcome to my world."

txt = txt.capitalize()

print (txt)

Hello, and welcome to my world.

In [45]:
txt = "Hello, And Welcome To My World!"

txt = txt.casefold()

print(txt)

hello, and welcome to my world!

In [46]:
fruits = "banana"

x = fruits.center(20)

print(fruits)

banana

In [48]:
txt = "I love india, india is my favorite place"

txt = txt.count("india")

print(txt)

2

In [49]:
txt = "My name is St√•le"

txt = txt.encode()

print(txt)

b'My name is St\xc3\xa5le'